@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0; }

body {
  font-size: 0.16rem;
  font-family: "Microsoft Yahei", "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** 提示框 **/
.x-toast-wrap {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 16px 0; }
  .x-toast-wrap .x-toast-item {
    width: 100%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeef5;
    border-radius: 8px; }
    .x-toast-wrap .x-toast-item .x-toast-body {
      position: relative;
      display: flex;
      align-items: center;
      padding: 15px 32px 15px 14px;
      max-width: 400px;
      min-width: 400px; }
      .x-toast-wrap .x-toast-item .x-toast-body .x-toast-icon {
        margin-right: 10px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        border-radius: 50%;
        min-height: 20px;
        max-height: 20px;
        min-width: 20px;
        max-width: 20px; }
        .x-toast-wrap .x-toast-item .x-toast-body .x-toast-icon svg {
          width: 100%;
          height: 100%; }
      .x-toast-wrap .x-toast-item .x-toast-body .x-toast-content {
        word-break: break-all;
        font-size: 16px; }
      .x-toast-wrap .x-toast-item .x-toast-body .x-toast-close {
        position: absolute;
        top: 15px;
        right: 10px;
        margin: 0 0 0 10px;
        cursor: pointer; }
        .x-toast-wrap .x-toast-item .x-toast-body .x-toast-close svg {
          width: 100%;
          height: 100%; }
  .x-toast-wrap .x-toast-item-success {
    background-color: #f0f9eb; }
    .x-toast-wrap .x-toast-item-success .x-toast-icon-success {
      background-color: #67c23a;
      color: #fff; }
    .x-toast-wrap .x-toast-item-success .x-toast-content-success {
      color: #67c23a; }
  .x-toast-wrap .x-toast-item-info {
    background-color: #f4f4f5; }
    .x-toast-wrap .x-toast-item-info .x-toast-icon-info {
      background-color: #909399;
      color: #fff; }
    .x-toast-wrap .x-toast-item-info .x-toast-content-info {
      color: #909399; }
  .x-toast-wrap .x-toast-item-warning {
    background-color: #fdf6ec; }
    .x-toast-wrap .x-toast-item-warning .x-toast-icon-warning {
      background-color: #e6a23c;
      color: #fff; }
    .x-toast-wrap .x-toast-item-warning .x-toast-content-warning {
      color: #e6a23c; }
  .x-toast-wrap .x-toast-item-error {
    background-color: #fef0f0; }
    .x-toast-wrap .x-toast-item-error .x-toast-icon-error {
      position: relative;
      background-color: #f56c6c;
      color: #fff;
      min-height: 24px;
      max-height: 24px;
      min-width: 24px;
      max-width: 24px; }
      .x-toast-wrap .x-toast-item-error .x-toast-icon-error:after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg); }
    .x-toast-wrap .x-toast-item-error .x-toast-content-error {
      color: #f56c6c; }

@media screen and (max-width: 1280px) {
  .x-toast-wrap .x-toast-item .x-toast-body .x-toast-icon {
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px; }
  .x-toast-wrap .x-toast-item .x-toast-body .x-toast-content {
    word-break: break-all;
    font-size: 14px; }
  .x-toast-wrap .x-toast-item-error .x-toast-icon-error {
    min-height: 16px;
    max-height: 16px;
    min-width: 16px;
    max-width: 16px; } }

/*# sourceMappingURL=x-toast-v1.1.0.css.map */
